[Unit]
Description=Node Exporter

[Service]
EnvironmentFile=/etc/default/TEMPLATE
ExecStart=/opt/vyatta-TEMPLATE/TEMPLATE $OPTIONS

[Install]
WantedBy=multi-user.target